
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --darkBlue: #2A324B;
    --blue: #58699D;
    --grey:#E1E5EE;
    --white:#fff;
    --monFont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: var(--monFont);
  background-color: var(--grey);
  color: var(--darkBlue);
  
}



#tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 200px;
  padding: 0;
}

#tabs .tab {
  color: var(--white);
  padding: 1rem 2.58rem;
  text-decoration: none;
  background-color: var(--darkBlue);
  cursor: pointer;
  font-weight: bold;
}

#tabs .active {
  background-color: var(--white);
  color: var(--darkBlue);  
}

#content-display {
  padding: 3rem;
 background-color: var(--white);
 max-width: 900px;
 min-height: 300px;
 margin: 0 auto;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--darkBlue);
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

a {
  color: var(--blue);
  
}